.sidebar {
   margin-top: 20vh;
   background-color: #333;
   color: white;
   height: 100%;
   width: 250px;
   position: fixed;
   top: 0;
   left: 0;
   overflow-x: hidden;
   transition: 0.5s;
   transform: translateX(-100%);
   border-radius: 10px;
}


.sidebar.open {
    transform: translateX(0rem);
}

.toggle-button {
    position: fixed; 
    top: 70px; 
    left: 10px; 
    color: rgb(32, 228, 228);
    background-color: #333;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: larger;
    font-weight: bolder;
    z-index: 1001;
}

.sidebar-links {
    list-style-type: none;
    padding: 0;
}

.sidebar-links li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar-links li a:hover {
    color: #690d0d;
}


