body {
    background-color: #f8f8f8;
    font-family: Arial sans-serif;
}

h1 {
    color: #333366;
    text-align: center;
}

.text {
    color: #333;
    font-size: 18px;
    line-height: 1.6; /* spacing between lines of text */
    margin-bottom: 20px;
}

.list {
    list-style-type: circle; /* change bullets to circles */
    margin: 20px;
    padding-left: 40px;
}

.list li {
    margin-bottom: 10px;
}

.box {
    background-color: #ffffff;
    padding: 20px; /* space inside the box around the content */
    border: 2px solid #cccccc;
    border-radius: 8px;
    margin: 20px auto; /* center box with automatic horizontal margins */
    width: 80%; /* 80% of box's container */
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
}

.link {
    color: #0077cc;
    text-decoration: underline;
    display: inline-block;
    transition:  color 0.3s ease-in-out;
}

.link:hover {
    color: #004499;
    text-decoration: none;
}

.opacity {
    background-color: black;
    color: white;
    opacity: 0.75;
}

.transform {
    margin: 20px 0;
    padding: 10px;
    background-color: #dddddd;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.transform:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #eeeeee;
    text-align: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}


.float-right {
    float: right;
    margin-left: 10px;
    background-color: red;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}


.position-relative {
    position: relative;
    background-color: #d7d0d0;
    top: 10px;
    left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.position-absolute {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d9edf7;
    padding: 5px;
    border-radius: 0 0 0 5px; /* rounded corner only on bottom left */
}

.display-flex {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #d0dbe4;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-item {
    flex-grow: 1;
    background-color: #3e55d8;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    color: #ffffff;
}

@keyframes example {
    from { background-color: #251d1d; border-radius: 100px 60px 20px 86px;}
    to {background-color: #201dda; border-radius: 86px 104px 150px 55px;}
}

.animated-item {
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gradient-background {
    background-image: linear-gradient(to right, #2d108b, #020212);
    color: #e6d9d9;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

/* .transition-item {
    background-image: linear-gradient(to right, #2d108b, #020212);
    color: #e6d9d9;
    padding: 20px;
    margin: 20px 0;
    transition: background-image 6s ease-in-out;
}

.transition-item:hover {
    background-image: linear-gradient(to right, #c6c2d4, #2d2daa);
    color: #110e74;
} */


.transition-item {
    position: relative;
    color: #e6d9d9;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    background-image: linear-gradient(to right, #2d108b, #020212);
}

.transition-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, #740606, #cfcfdc);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.transition-item:hover::after {
    opacity: 1;
}

.transition-item:hover {
    color: #e0e0f2;
}