:root {
    --primary-color: #4a69bd;
    --secondary-color: #6a89cc;
    --tertiary-color: #cccccc;
    --accent-color: #60a3bc;
    --accent-color_two: #ff4500;
}

input[type="text"], input[type="email"] {
    border: 2px solid var(--tertiary-color);
    padding: 8px 10px;
    margin: 10px 0;
    width: calc(100% - 24px);
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: var(--accent-color_two);
}

.root-1 {
    background-color: var(--primary-color);
}

.root-2 {
    background-color: var(--secondary-color);
}

.root-3 {
    background-color: var(--accent-color);
}


body {
    background-color: #f8f8f8;
    font-family: Arial sans-serif;
}

h1 {
    color: #333366;
    text-align: center;
}

.text {
    color: #333;
    font-size: calc(16px + 0.5vw);
    line-height: 1.6; /* spacing between lines of text */
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #87e3ea;
}

.list {
    list-style-type: circle; /* change bullets to circles */
    margin: 20px;
    padding-left: 40px;
}

.list li {
    margin-bottom: 10px;
}

.list li:hover {
    background-color: #f0f0f0;
    color: #004499;
    cursor: pointer;
}

.box {
    background-color: #ffffff;
    padding: 20px; /* space inside the box around the content */
    border: 2px solid #cccccc;
    border-radius: 8px;
    margin: 20px auto; /* center box with automatic horizontal margins */
    width: 80%; /* 80% of box's container */
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
}

.link {
    color: #0077cc;
    text-decoration: underline;
    display: inline-block;
    transition:  color 0.3s ease-in-out;
}

.link:hover {
    /* color: #004499; */
    color: #ff6600;
    text-decoration: none;
}

.opacity {
    background-color: black;
    color: white;
    opacity: 0.75;
}

.transform {
    margin: 20px 0;
    padding: 10px;
    background-color: #dddddd;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.transform:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #eeeeee;
    text-align: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}


.float-right {
    float: right;
    margin-left: 10px;
    background-color: red;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}


.position-relative {
    position: relative;
    background-color: #d7d0d0;
    top: 10px;
    left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.position-absolute {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d9edf7;
    padding: 5px;
    border-radius: 0 0 0 5px; /* rounded corner only on bottom left */
}

.display-flex {
    display: flex;
    justify-content: space-around; 
    /* align-items: center; */
    align-items:center;
    flex-wrap: wrap;
    background-color: #d0dbe4;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-item {
    flex-grow: 1;
    background-color: #3e55d8;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    color: #ffffff;
}

@keyframes example {
    from { background-color: #efe4e4; border-radius: 95.8px 4.6px 180px 26px; transform: rotate(0deg); width: 11px;}
    to {background-color: #0d0c5d; border-radius: 86.6px 4.9px 100.7px 5.9px; transform: rotate(360deg); width: 65px;}
}

.animated-item {
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gradient-background {
    background-image: linear-gradient(to right, #2d108b, #020212);
    color: #e6d9d9;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}


.transition-item {
    position: relative;
    color: #e6d9d9;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    background-image: linear-gradient(to right, #2d108b, #020212);
}

.transition-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, #740606, #cfcfdc);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.transition-item:hover::after {
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px;
    gap: 20px;
    margin: 20px auto;

}

.grid-item {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(68, 60, 129, 0.732);
}


@keyframes slidein {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-10%);
    }
}

.animated-elem {
    animation: slidein 1s infinite alternate;
}


@media (max-width: 800px) {

    h1 {
        font-size: 1.5rem;
    }

    .flex-item {
        flex-basis: 100%; /*flex items full width small screens */
        margin-bottom: 10px;
    }

    .display-flex {
        flex-direction: column;
    }
}


